In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('D:/My Docs/PICT CS/SE_21_22/PBL/DVSAM/Data/zomato_pune_V002.csv')
imp_columns = ['Restaurant_Name', 'Web_Link', 'Locality','Ratings_out_of_5', 'Cuisines', 'Charges_for_two']
df = df[imp_columns]

In [11]:
df['Charges_for_two'] = df['Charges_for_two'].replace('\D', '', regex=True)

In [12]:
ls1 = []
for i in df['Ratings_out_of_5']:
    try:
        ls1.append(float(i))
    except:
        ls1.append(0)

In [13]:
df['Ratings_out_of_5'] = ls1

In [15]:
df.to_csv('searchable.csv')

In [21]:
def search(user1):
    output = pd.DataFrame(columns =['Restaurant_Name', 'Web_Link', 'Locality','Ratings_out_of_5', 'Cuisines', 'Charges_for_two'])
    for i in user1.keys():
        output = output.append(df[df['Restaurant_Name'] == i])
    return output

In [17]:
df1 = pd.read_csv('combined.csv')

In [22]:
search({'Southern Spice': 3, 'Cafe Little Eggs': 4})

,Restaurant_Name,Web_Link,Locality,Ratings_out_of_5,Cuisines,Charges_for_two
10962,Southern Spice,https://www.zomato.com/pune/southern-spice-dha...,Dhanori,2.8,South Indian,200
1113,Cafe Little Eggs,https://www.zomato.com/pune/cafe-little-eggs-b...,Bund Garden Road,3.3,"Fast Food, Beverages",300

In [10]:
x = {}
x[df['rest_name'][3]] = 3
x[df['rest_name'][10]] = 5
x[df['rest_name'][20]] = 1

In [7]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity  


class Predicting:
    def __init__(self):
        
        self.combine = pd.read_csv('G:/Projects/DVSAM/Src/combined.csv')
        self.combine = self.combine[['user_id', 'rest_name', 'rating']]
        self.pivot = self.combine.pivot_table(index=['user_id'], columns=['rest_name'], values='rating')
        self.pivot = self.pivot.fillna(0)
        self.pt_stand = self.pivot.apply(self.standardize)
        self.item_sim = cosine_similarity(self.pt_stand.T)
        self.item_sim = pd.DataFrame(self.item_sim, index=self.pt_stand.columns, columns=self.pt_stand.columns)

    def get_sim(self, rest, rating):
        sim_score = self.item_sim[rest]*(rating)
        sim_score = sim_score.sort_values(ascending = False).head(10)
        return sim_score
    def get_restaurant(self, user_dict):
        sim_rest = pd.DataFrame()
        # m = np.array(list(user_dict.values())).mean()
        for rest in user_dict:
            sim_rest = sim_rest.append(self.get_sim(rest=rest, rating = user_dict[rest]), ignore_index = True)
        
        sim_rest = sim_rest.sum().sort_values(ascending = False)
        sim_rest = dict(sim_rest.head(len(user_dict) + 10))
        r = {}
        for i in sim_rest:
            if not i in user_dict:
                r[i] = sim_rest[i]
        return r
    def standardize(self, row):
        if(row.max()-row.min() != 0):
            new_row = (row - row.mean())/(row.max() - row.min())
        else:
            new_row = row
        return new_row

In [9]:
pred = Predicting()

In [11]:
pred.get_restaurant(x)

{'The East': 8.673439729418643,
 'Bangalore Iyangar Bakery': 8.673439729418643,
 'Amrut Testy Paratha': 8.673439729418643,
 'Shree Lakshmi Narayan Snacks & Pavbhaji Center': 8.673439729418643,
 'Biryani Nawab': 8.673439729418643,
 'Hooked': 7.844525252902029,
 'Bombay Sandwich & Pizza': 7.760912485017053,
 'Creative Food Catering': 7.760912485017053,
 'Pik-A-Meal': 0.6734397294186232,
 'Subcurry': 0.6734397294186232}

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('searchable.csv')

In [4]:
df = df.drop('Unnamed: 0', axis = 1)

In [27]:
def search(search_var):
    output = pd.DataFrame(columns =['Restaurant_Name', 'Web_Link', 'Locality','Ratings_out_of_5', 'Cuisines', 'Charges_for_two'])
    for i in df.columns:
        for j in range(12188):
            if df[i][j] == search_var:
                output = output.append(df.loc[j])
    return output.drop_duplicates(subset = None, keep = 'first')

,Restaurant_Name,Web_Link,Locality,Ratings_out_of_5,Cuisines,Charges_for_two
1565,Govinda's The Higher Taste,https://www.zomato.com/pune/govindas-the-highe...,Katraj,3.8,Continental,500.0
2356,Fuzion - Novotel,https://www.zomato.com/pune/fuzion-novotel-vim...,Viman Nagar,3.8,Continental,600.0
4752,Granny's Bowl,https://www.zomato.com/pune/grannys-bowl-dhole...,Dhole Patil Road,3.7,Continental,300.0
4803,Valley Bar,https://www.zomato.com/pune/valley-bar-old-mum...,Old Mumbai-Pune Highway,3.6,Continental,1400.0
6764,Olde Bailey's,https://www.zomato.com/pune/olde-baileys-koreg...,Koregaon Park,3.8,Continental,900.0
7135,The Daily-Cious Diet,https://www.zomato.com/pune/the-daily-cious-di...,Koregaon Park,0.0,Continental,400.0
11308,We-Can End Cravings,https://www.zomato.com/pune/we-can-end-craving...,Wagholi,3.0,Continental,0.0

In [31]:
def search(search_var):
    search_var = search_var.split()
    output = pd.DataFrame(columns =['Restaurant_Name', 'Web_Link', 'Locality','Ratings_out_of_5', 'Cuisines', 'Charges_for_two'])
    for i in df.columns:
        for j in range(12188):
            for sv in search_var:
                if df[i][j] == sv:
                    output = output.append(df.loc[j])
    return output.drop_duplicates(subset = None, keep = 'first')

In [33]:
search('North Indian Hinjawadi')

,Restaurant_Name,Web_Link,Locality,Ratings_out_of_5,Cuisines,Charges_for_two
0,AB's - Absolute Barbecues,https://www.zomato.com/pune/abs-absolute-barbe...,Hinjawadi,4.9,"Continental, North Indian, Chinese",1400.0
3,I Amsterdam,https://www.zomato.com/pune/i-amsterdam-hinjawadi,Hinjawadi,4.3,"Asian, European, Modern Indian, Italian",1400.0
7,BeHive,https://www.zomato.com/pune/behive-hinjawadi,Hinjawadi,4.0,"North Indian, Chinese, Continental",1400.0
21,Tarsh Gastronomia,https://www.zomato.com/pune/tarsh-gastronomia-...,Hinjawadi,4.4,"North Indian, Italian, Asian, Mediterranean, C...",1500.0
24,Publiq,https://www.zomato.com/pune/publiq-hinjawadi,Hinjawadi,4.0,"Bar Food, Asian, North Indian, Italian",1600.0
...,...,...,...,...,...,...
12002,Kebab King,https://www.zomato.com/pune/kebab-king-hinjawadi,Hinjawadi,3.5,"North Indian, Kebab, Chinese",700.0
12010,Gusto,https://www.zomato.com/pune/gusto-hinjawadi,Hinjawadi,0.0,"North Indian, Chinese, Continental",700.0
12040,Old City Biryani House,https://www.zomato.com/pune/old-city-biryani-h...,Hinjawadi,3.7,"Hyderabadi, Biryani",650.0
12129,Royal Hill Dairy,https://www.zomato.com/pune/royal-hill-dairy-h...,Hinjawadi,0.0,Beverages,300.0
12184,Nil Food Point,https://www.zomato.com/pune/nil-food-point-hin...,Hinjawadi,0.0,Chinese,0.0